* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.payment-block {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

.payment-bg {
    width: 100%;
    height: 100vh;
    background: url('payment-bg.jpg') center center no-repeat;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.payment-card {
    overflow: hidden;
    width: 80%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first-card {
    width: 40%;
    height: 100%;
    background: linear-gradient(179.96deg, #493296 0.02%, #432672 99.98%);
    z-index: 5;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.second-card {
    width: 38%;
    height: 90%;
    background-color: #161B21;
    z-index: 1;
    position: absolute;
    transition: 1s;
    padding: 20px 40px 20px 30px;
}

.card-title {
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.card-subtext {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    color: #948EA6;
}

.order-number {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.card-line {
    height: 2px;
    width: 90%;
    background-color: rgba(148, 142, 166, 0.1);
}

.name-product {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.product-cost {
    margin: 0;
    letter-spacing: 0.05em;
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
}

.card-info {
    margin: 0;
    font-size: 14px;
    padding: 0;
    list-style: none;
    color: #948EA6;
}

.card-info li:before {
    content: "\2022";
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 5px;
}

.first-card__active {
    transform: translateX(-122%);
    -webkit-transform: translateX(-122%);
    -moz-transform: translateX(-122%);
    -ms-transform: translateX(-122%);
    -o-transform: translateX(-122%);
}

.second-card__active {
    width: 60%;
    transform: translateX(35%);
    -webkit-transform: translateX(35%);
    -moz-transform: translateX(35%);
    -ms-transform: translateX(35%);
    -o-transform: translateX(35%);
}

.second-card .card-title {
    font-size: 16px;
    color: #BAB9B9;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.card-select {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card-select__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 70px;
    background-color: #222931;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.card-yandex {
    margin: 0;
}

.card-select__item:hover {
    box-shadow: 0px 0px 10px rgba(55, 65, 78, 0.7);
}

.card-select__add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-select__item-yandex{
    background-color: #E61400;
}

.card-select__item-visa {
    background: linear-gradient(118.3deg, rgba(26, 30, 90, 0.75) 0%, #122D98 100%);
}

.card-select__item-bitcoin {
    background-color: #FF9500;
}

.card-input {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 90%;
    justify-content: space-between;
}

.card-input__item {
    outline: none;
    border: none;
    background-color: #212A33;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #616161;
    padding: 0 20px 0 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.card-input__item:focus {
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.2);
}

.card-btn {
    height: 50px;
    background: #6B60DA;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-btn:hover {
    box-shadow: 0px 0px 10px rgba(107, 96, 218, 0.5);
}

.card-input__error {
    background-color: #E61400;
    color: #fff;
}

.card-input__error::placeholder {
    color: #fff;
}

.card-input__success {
    background-color: rgb(0, 156, 0);
    color: #fff;
}





@media(max-width: 1144px) {
    .card-title {
        font-size: 30px;
    }
    .card-subtext {
        font-size: 17px;
    }
}

@media(max-width: 920px) {
    .second-card {
        width: 80%;
    }
    .first-card__active{
        display: none;
    }
    .second-card__active {
        display: block;
        width: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .card-input {
        width: 100%;
    }
    .card-title {
        font-size: 25px;
    }
    .card-subtext {
        font-size: 15px;
    }
    .order-number {
        font-size: 24px;
    }
    .name-product {
        font-size: 15px;
    }
    .product-cost {
        font-size: 40px;
    }
    .card-info {
        font-size: 12px;
    }
    .first-card {
        padding: 0px 20px;
        width: 65%;
    }
}

@media(max-width: 768px) {
    .payment-card {
        height: 90%;
        width: 90%;
    }
    .first-card {
        width: 85%;
    }
    .second-card {
        padding: 20px;
    }
    .card-select__item {
        height: 50px;
    }
}

@media(max-width: 425px) {
    .first-card {
        width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .payment-card {
        width: 85%;
        height: 95%;
    }
    .card-select__item:nth-child(3) {
        display: none;
    }
    .card-select__add {
        display: none;
    }
    .card-select__item {
        width: 45%;
    }
    .card-select {
        margin-bottom: 40px;
    }
    .second-card {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 25px 15px;
        height: 100%;
    }
    .card-input {
        height: 60%;
    }
    .card-btn {
        font-size: 18px;
    }
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none; 
  }